<div class="header">
    <h1><%= config.title  %></h1>
    <h2><%= config.subtitle  %></h2>
     <ul>
      <% site.pages.each(function(page){ %>
        <li>
            <a href="<%= url_for(page.path) %>"><%= page.title %></a>
        </li>
      <% }); %>     
    </ul>
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
     <% site.posts.each(function(post){ %>  

        <li>
            <span class="date"><%= date(post.date) %></span> - <a href="<%= url_for(post.path) %>"><%= post.title %></a>
        </li>
     <% }); %>  
    </ul>
</div>
