<div class="header">
   <div class="title">	
      <h1><%= config.title  %> </h1>
      <h2><%= config.subtitle  %></h2>
    </div> 
    <ul>
      <% site.pages.each(function(page){ %>
        <li>
            <a href="<%= url_for(page.path) %>"><%= page.title %></a>
        </li>
      <% }); %>     
    </ul>
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
     <% site.posts.sort('date',-1).each(function(post){ %>  

        <li>
		<div class='blog__post_title'><a href="<%= url_for(post.path) %>"><span class="date"><%= date(post.date) %></span> - <%= post.title %></a></div>
	    <%- post.excerpt %>
	    <a href="<%= url_for(post.path) %>">read more</a> 
	</li>
     <% }); %>  
    </ul>
</div>
